# Set URL for your scoped packages.
# For example package with name `@foo/bar` will use this URL for download
npm config set @net7-main:registry https://gitlab.netseven.it/api/v4/projects/264/packages/npm/

# Add the token for the scoped packages URL. Replace <your_project_id>
# with the project where your package is located.
npm config set -- '//gitlab.netseven.it/api/v4/projects/264/packages/npm/:_authToken' "glpat-YfjzfJHTDZ1qw1Ub99za"
